.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-top: -12px;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    margin-top: 12px;
}

@media (max-width: 1200px) {
    .gallery_item {
        width: 77px;
        font-size: 8px;
    }
}
